.password-toggle {
  position: relative;
}

.password-toggle input {
  padding-right: 30px; /* Adjust as needed based on icon size */
}

.toggle-password {
  position: absolute;
  top: 46%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  /* Your eye icon or toggle button styles */
}